{{!-- Logo/Login Buttons (home/login page) --}}
<div class="grid-x align-justify">
    <div class="logo-div cell small-2 medium-1 ">
        <a href="/"><img src="/assets/favicon/spontaneousasterisk.png"></a>
    </div>
    <div class="grid-y align-center cell small-2 medium-1 class user-link-div">
        <a href="/" class="home-link">Home</a>
    </div>
</div>

<div class="hero-section">
    <div class="hero-section-text">
        <div class="index-background">
            <h1>Edit Favorite</h1>
        </div>

        <div class="col-8">
            <input class="title" placeholder={{title}} maxlength="28" type="text">
            <textarea class="note" placeholder={{note}}></textarea>
        </div>

        <div class="icons">
            <button id="submit-fav">Save Changes</button>
        </div>
    </div>
</div>