{{!-- Logo/Login Buttons (home/login page) --}}
<div class="grid-x align-justify">
    <div class="logo-div cell small-2 medium-1 ">
        <a href="/"><img src="/assets/favicon/spontaneousasterisk.png"></a>
    </div>
    <div class="grid-y align-center cell small-2 medium-1 class user-link-div">
        <a href="/" class="home-link">Home</a>
    </div>
</div>

{{!--Main central div--}}
<div class="grid-container centralize-fav-edit">
    <div class="grid-x align-center">
        <div class="index-background-fav-editor">
            <div class="text-center">
                <h1 class="hero-section-text">Add Notes</h1>
                <textarea class="favTitleEdit" rows="1" cols="10">{{title}}</textarea>
                <textarea class="favNoteEdit" placeholder="Add some notes" rows="5" cols="20">{{note}}</textarea>
                <button id="saveNotesBtn" data-id={{id}} class="button heartBtn"><i id="saveIcon" class="far fa-save"></i></button>
            </div>
        </div>
    </div>
    {{!-- Search and Favorite Button Row --}}
    <div class="grid-x align-center grid-margin-x grid-margin-y buttonrow">
        <a class="cell small-4 medium-3 grid-margin-y button alert searchBtn" href="/search">Search</a>
        <a class="cell small-4 medium-3 grid-margin-y button alert favoritesBtn" href="/fav/">Favorites</a>
    </div>
</div>