<!--Main section with buttons and hero-->
<div class="grid-container align-middle">
    <div class="grid-x">
        <div class="index-background">
            <img src="/assets/favicon/spontaneouslogo.png">
        </div>
    </div>
    <!-- FORM: dropdown categories- input area: text, and search button - cat dropdown: breakfast, lunch, dinner, book, movie, etc
          input physically type search term, submit button form: "Search" text: "query" -->
    <!--  -->
    <!-- <div class="grid-x  align-spaced"> -->
    <div class="grid-x align-center grid-margin-x grid-margin-y buttonrow">
        <button class="cell small-4 grid-margin-y button alert search" href="#">Search</button>
        <button class="cell small-4 grid-margin-y button alert favorites" href="#">Favorites</button>
    </div>
</div>
<!-- </div> -->

</div>