<div class="hero-section centralize">
    <div class="hero-section-text">
        <div class="index-background">
            <h1>Sign Up/Login</h1>
        </div>

        <form id="registration">
            <div class="form-icons">
                <h4>Register for an account</h4>

                <div class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-user"></i>
                    </span>
                    <input class="input-group-field" id="newName" type="text" placeholder="Full name">
                </div>

                <div class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input class="input-group-field" id="newEmail" type="text" placeholder="Email">
                </div>

                <div class="input-group">
                    <span class="input-group-label">
                        <i class="fa fa-key"></i>
                    </span>
                    <input class="input-group-field" type="text" id="newPass" placeholder="Password">
                </div>
            </div>

            <button class="button expanded">Sign Up</button>
            <a id="login" href="#">Existing user? Click here to log in</a>
        </form>

        <form id="currentUser" class="log-in-form">
            <h4 class="text-center">Existing User Login</h4>
            <label>Email
                <input type="email" id="#userEmail" placeholder="somebody@example.com">
            </label>
            <label>Password
                <input type="password" id="#userPass" placeholder="Password">
            </label>
            <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
            <p><input type="submit" class="button expanded" value="Log in"></input></p>
        </form>


    </div>
</div>