{{!-- Logo/link to "/" home --}}
<div class="grid-x align-justify">
    <div class="cell small-2 medium-1 ">
        <a href="/"><img src="/assets/favicon/spontaneousasterisk.png"></a>
    </div>
    <div class="cell small-2 medium-1 class user-link-div">
        <a href="/login" class="top-link">Log In</a>
    </div>
</div>

{{!--Main central div with buttons and hero--}}
<div class="grid-container centralize">
    <div class="grid-x align-center">
        <div class="index-background">
            <div class="grid-x align-center">
                {{!-- Search Form --}}
                <form id="#search-form">
                    <h3 class="headerText">Let's Get Spontaneous!</h3>
                    <select id="selectCategory">
                        <option id="#" value="">Select A Category</option>
                        <option id="#" value="Recipe">Cook</option>
                        <option id="#" value="Restaurant">Eat Out</option>
                        <option id="#" value="7">Fullbar</option>
                        <option id="#" value="8">Nightlife</option>
                        <option id="#" value="Event">Events</option>
                        <option id="#" value="author">Author</option>
                        <option id="#" value="music">Band</option>
                        <option id="#" value="movie">Movie</option>
                        <option id="#" value="show">TV Show</option>
                        <option id="#" value="game">Game</option>
                    </select>
                    {{!-- Input Text Box --}}
                    <input id="input" type="text" placeholder="">
                    {{!-- Spontaneous Search/Submit button --}}
                    <input type="submit" class="button spontaneousSearchBtn cell" value="Spontaneous Search">
                </form>
            </div>
        </div>
    </div>
    {{!-- Search and Favorite Button Row --}}
    <div class="grid-x align-center grid-margin-x grid-margin-y buttonrow">
        <a class="cell small-4 medium-3 grid-margin-y button alert searchBtn" href="/search">Search</a>
        <a class="cell small-4 medium-3 grid-margin-y button alert favoritesBtn" href="/fav/">Favorites</a>
    </div>
</div>